* {
    margin: 0;
    padding: 0;
}
--------------------------------------------------------------------------------------------
.cover{
    width: 100vw;
    height: 100vh;
    background-color: white;
    text-align: center;
}
.cover > img{
    position: relative;
    top: 43%;
}
--------------------------------------------------------------------------------------------------
.