
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background: /*url("../img/page1dots.png"), */linear-gradient(to bottom, #4129F4, #0f0f0f);
        background-position: bottom, center, 0% 0%, 100% 0%;
        background-repeat: repeat-x, no-repeat, no-repeat, no-repeat;
        width: 100vw;
        height: auto;
        overflow: hidden;
}
h1{
    font-size: 1rem;
}
svg{
    position: relative;
    z-index: -1;
}
.imgr{
    position: absolute;
    overflow: hidden;
    left: 60vw;
    top: 0vh;
    z-index: -1;
    animation-timing-function: ease-out;
    animation-duration: 2s;
}
@keyframes imgrani1 {
    0% {height: 180vh;}
    100% {height: 80vh;}    
}

.imgl{
    
    position: absolute;
    z-index: -1;
    left: -20vw;
    bottom: 0vh;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    overflow: hidden;
}
.imgtl
{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    left: -20vw;
    top: 0vh;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
}
@keyframes imglani2 {
    0% {height: 50vh; opacity: 1;}
    100% {height: 0vh; opacity: 0; display: none;}    
}
@keyframes imglani3 {
    0% {height: 50vh; opacity: 0;}
    100% {height: 100vh; opacity: 1;}
}
section{
    scroll-snap-align: start;
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
}
.cover{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white !important;
     z-index: 200;
    text-align: center;
}
.cover > img{
    position: relative;
    top: 43%;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 10vw;
    background-color: rgba(16, 16, 16, 0.802);
    height: 10%;;
    margin: 2% 3%;
    width: 94%;
    z-index: 1;
}



nav .nav-bar{
    position: relative;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: white;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.logo img{
    height: 5vh;
    padding-top: 10%;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    color: white;
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}
.page1 
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.page1 > div{
    grid-row-start: 1;
    grid-column-start: 1;
}
.page1-texts{

}
h1{
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-weight: 500;
    color: white;
}
.page1-title{
    margin-top: 53vh;
}
.downarrow{
     margin-top: 2vh;
    margin-bottom: 1vh;
    height: 25vh;
}
.page1ellipse
{
    max-height: 200vh;
}
/*fdgdgfdgfdgfdgdfg*/
.page1ellipse > svg{
    padding-top: 20vh;   
    height: auto;
    width: 100%;
    animation-name: svg1ani;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes svg1ani {
    0% {transform: scale(1);}
    50% {transform: scale(1.04);}
    100% {transform: scale(1)}
    
}

.page2{
    /* background:url("../img/page1dots.png"),linear-gradient(to bottom,#4129F4,#2E6BFE,#0f0f0f);
background-position:bottom,center;
background-repeat: repeat-x,no-repeat;
background-size: 100%;
    height: 100vh;
    width: 100vw;
    background-color: green; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.page2 > div{
    grid-row-start: 1;
    grid-column-start: 1;
}
.page2-title{
    margin-top: 22vh;
}
.page2-texts{
    padding: 0 10%;
}
p{
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.25;
    font-size: 2.5rem;
    color: #DBDFEA;
}
.page2-texts > img{
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 12vh;
}
.page2-caption {
    margin-top: 0 ;
    font-size: 2rem;
    color: white;
}
.page2ellipse
{
    
}
.page2ellipse > svg{
    margin-top: -80vh;
    animation-duration: 1s;
    animation-timing-function: ease;
}
@keyframes svg2ani
{
    0% {margin-top: 0vh;}
    100% {margin-top:-80vh;}
}
.page3 {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/page3_images/graph.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size:  contain;
} 
.page3 > div{
    grid-row-start: 1;
    grid-column-start: 1;
}
.page3-texts{
    width: 50%;
    text-align: left;
}
.page3-texts > p{
    font-size: 2.7rem;
}
.page3-title {
    margin-bottom: 5vh;
    margin-top: 20vh;
    margin-left: 10vh ;
}

.page3-para{
    margin-left: 10vh;
}
.page3ellipse
{
}
.page3ellipse > svg{
    width: 10vw;
    margin-left: 71.5vw;
    margin-top: 35vh;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}
@keyframes svg3ani {
    0% {margin-top: 0; transform: scale(10);}
    100%{margin-top: 35vh;transform: scale(1);}
    
}
@keyframes imglani4
{
    0% {height: 100vh}
    100% {height: 150vh; left: -70vw;}
}
@keyframes imgrani2 {
    0% {height: 80vh;}
    100% {height: 100vh;}
}
.page4{ 
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.page4 > div{
    grid-row-start: 1;
    grid-column-start: 1;
}
.page4ellipse{
    position: relative;
    margin-left: 50vw;
    margin-top: 20vh;
    height: 70vh;
    width: 50vw;
    z-index: -1;
    display: grid;
    grid-template-rows: 300px 400px;
    text-align: center;
}
.question{
    margin-top: 0px;
    margin-left: 21%;
    width: 400px;
}
.svg4{
    margin-left: 19.9%;
    margin-top: -160px;
    width: 400px;
    animation-name:svg4ani2 ;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes svg4ani2{
    0% {margin-top: -160px;}
    50% {margin-top: -140px;}
    100% {margin-top: -160px;}
    
}
@keyframes imglanizoom {
    0% {transform:scale(1.4);}
    50% {transform: scale(1);}
    100% {transform:scale(1.4);}   
}
.page5{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.page5>div{
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 1;
}
.page5-img{
    background-image: url("../img/downloadcircle.svg");
    background-position: center 50vh;
    background-repeat: no-repeat;
    background-size: 13%;    
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: svg5ani;
    animation-duration: 3s;
}
.page5-img > img{
    width: 4%;
    position: relative;
    top: 57vh;
    margin-left: 48vw;
    opacity: 0;
    animation-timing-function: ease-in-out;
    animation-timing-function: 5s;
}
@keyframes imgranizoom {
    0% {transform:scale(1.5);}
    50% {transform: scale(1);}
    100% {transform:scale(1.5);}   
}
@keyframes svg5ani{
    0% {transform: scale(1.7); }
    50% {transform: scale(1.6); }
    100% {transform: scale(1.7); }
    
}
@keyframes btnani {
    0% {opacity: 0%;}
    100% {opacity: 1%;}
} 













@media only screen and (max-width: 2649px) and (min-width: 2199px)  {
    a,.contact{
        font-size: 1.5rem;
    }
    h1{
        font-size: 5rem;
    }
    .downarrow {
             height: 20vh;
              width: 10vw;
      }
      p{
        font-size: 2.2rem;
      }
      .page2-caption{
        font-size: 2rem;
      }
      .page2ellipse > svg{
    margin-top: -90vh;
}
    .page2-texts{
        padding:0 10%;
    }
    .page3-texts > p{
        font-size: 2.2rem;
    }
@keyframes svg2ani
{
    0% {margin-top: 0vh;}
    100% {margin-top:-90vh;}
}
.page3ellipse > svg{
    width: 7vw;
    margin-left: 74.5vw;
    margin-top: 36.5vh;
}
@keyframes svg3ani {
    0% {margin-top: 0; transform: scale(10);}
    100%{margin-top: 36.5vh;transform: scale(1);}
    
}
         .page4-title{
        margin-top: 25vh;
        font-size: 6rem !important;
    }

@keyframes svg4ani1 {
    0% {margin-top: -200vh;transform: scale(3);}
    100% {margin-top: -23vh;transform: scale(1);}    
}

.page5-svg  > svg{
    width: 30vw;
    margin-top: 42vh;
}
@keyframes svg5ani{
    0% {transform: scale(1); }
    50% {transform: scale(1.05); }
    100% {transform: scale(1); }
    
}
.page5-img > img{
    width: 6.5vw;
    margin-top: 65.5vh;
    margin-left: 46.75vw;
}
}
@media only screen and (max-width: 2200px) and (min-width: 1920px) {
    h1{
        font-size: 4rem;
    }
    .downarrow{
     margin-top: 0;
    margin-bottom: 1vh;
    height: 25vh;
    }
    .page2-texts{
         padding:0 6%;
    }
    .page2-texts > h1{
        font-size: 3.5rem;
    }
    .page2-texts > p{
        font-size: 2rem;
    }
    .page2-caption{
        font-size: 1.5rem !important;
    }
          .page2ellipse > svg{
    margin-top: -100vh;
}
    @keyframes svg2ani
{
    0% {margin-top: 0vh;}
    100% {margin-top:-100vh;}
}
       .page3-texts{
        width: 50%;
      }
      .page3-texts > h1{
        font-size: 4rem;
      }
      .page3-texts > p{
        font-size: 2.5rem !important;
      }
      .page3ellipse > svg{
    width: 7vw;
    margin-left: 70.5vw;
    margin-top: 37.5vh !important;
}
@keyframes svg3ani {
    0% {margin-top: 0; transform: scale(10);}
    100%{margin-top: 37.5vh;transform: scale(1);}
    
}
         .page4-title{
        margin-top: 25vh;
        font-size: 5rem !important;
    }
    .page5-texts > p{
        font-size: 2rem;
    }
      .page5-img > img{
        width:4%;
        margin-left: 48vw;
        margin-bottom: 0;
        margin-top: 9vh;
    }
    .page5-img{
    background-position: center 50vh;
    background-size: 14%;    
}
}
@media only screen and (max-width: 1499px) and (min-width: 1281px)  {
    a, .contact{
        font-size: 1rem;
    }
     h1{
        font-size: 3.5rem;
    }
    p{
        font-size: 1.4rem;
    }
    .page2-texts{
        padding:0 10%;
    }
     .page2-caption {
        margin-top: 0;
        font-size: 1rem;
     }
       .downarrow {
             height: 20vh;
      }
       .page3-texts{
        width: 50%;
      }
      .page3-texts > h1{
        font-size: 3.2rem;
      }
      .page3-texts > p{
        font-size: 1.4rem;
      }
         .page4-title{
        margin-top: 25vh;
        font-size: 4rem !important;
    }
      .page3ellipse > svg{
    width: 7vw;
    margin-left: 76.5vw;
    margin-top: 36.5vh;
}
@keyframes svg3ani {
    0% {margin-top: 0; transform: scale(10);}
    100%{margin-top: 36.5vh;transform: scale(1);}
    
}

@keyframes svg4ani1 {
    0% {margin-top: -200vh;transform: scale(3);}
    100% {margin-top: -40vh;transform: scale(1);}    
}
    

.page5-svg  > svg{
    width: 20vw;
    margin-top: 28vh;
}
}

@media only screen and (max-width: 1919px) and (min-width: 1500px)  {
         h1{
        font-size: 3.7rem;
    }
    p{
        font-size: 2rem;
    }
      .page2-texts{
        padding:0 10%;
    }
         .page2-caption {
        margin-top: 0;
        font-size: 1.3rem;
     }
            .page3-texts{
        width: 50%;
      }
      .page3-texts > h1{
        font-size: 3.2rem;
      }
      .page3-texts > p{
        font-size: 1.7rem;
      }
            .page4-title{
        margin-top: 25vh;
        font-size: 4rem !important;
    }
    .downarrow{
        height:20vh;
    }
}

@media only screen and (max-width:450px) and (min-width:361px)
{
    .cover > img{
                width: 50vw;
    }
       .page2-caption{
        font-size: 1rem;
    }
    .navbar{
        margin-top: 0;
    }
    h1{
        font-size: 1.6rem;
    }
    p{
        font-size: 1rem;
    }
    .imgl,.imgr,.imgtl{
        display: none;
    }
    svg{
        display: none !important;
    }
    .page1-title{
        margin-top: 40vh;
        font-size: 1.6rem !important;
    }
    .page1-texts{
        padding: 2%;
    }
    .downarrow{
        height: 20vh;
        object-fit: contain;
    }
    .page2-texts{
        padding: 2%;
    }
    .page2-title{
        margin-top: 13vh;
    }
    .page2-caption{
        font-size: 0.7rem;
    }
    .page3{
        background: none;
    }
    .page3-texts{
        width: auto;
        padding: 4%;
        text-align: center;
        margin-top:0;
    }
    .page3-title{
        margin: 15vh 0vh 0vh;
        font-size: 1.6rem !important;
    }
    .page3-para{
    margin-left: 0vh;
    font-size: 1.1rem !important;
    }

    .page4ellipse{
        position: relative;
        margin:auto;
        height: 60vh;
        width: 90vw;
        z-index: -1;
        display: grid;
        grid-template-rows: 300px 400px;
        text-align: center;
        justify-content: center;
    }
   .question,.svg4{
        width: 200px;
        margin: auto;
   }
   .question{
    margin-top: 80px;
   }
    .page4-title{
        margin-top: 17vh;
    }
    .page5-texts{
        padding: 4%;
    }
    .page5-img > img{
        width:20%;
        margin-left: 40vw;
        margin-bottom: 0;
    }
            .page5-img{
    background-position: center 50vh;
    background-size: 35%;    
    }
}

@media only screen and (max-height:896px) and (min-height:800px)
{
    .page3-para{
    font-size: 1.3rem !important;
    }
        p{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 600px)  {
    svg{
        display: none;
    }
    h1{
        font-size: 2.2rem;
    }
      .imgl,.imgr,.imgtl{
        display: none;
    }
      .page1-title{
        margin-top: 35vh;
    }
    .page1-texts{
        padding: 5%;
    }
        .downarrow{
            object-fit: contain;
        height: 20vh;
    }
    p{
        font-size: 1.2rem;
    }
        .page2-texts{
        padding: 5%;
    }
    .page2-caption{
        font-size: 1rem;
    }
       .page3{
        background: none;
    }
    .page3-texts{
       width: auto;
        text-align: center;
        padding: 5%;
    }
    .page3-para,.page3-title{
        margin-left: 0;
    }
        .page3-para{
    font-size: 1.2rem !important;
    }
        .page3-title{
        font-size: 2.2rem !important;
    }
    .page4ellipse{
        position: relative;
        margin:auto;
        height: 60vh;
        width: 100vw;
        z-index: -1;
        display: grid;
        grid-template-rows: 300px 400px;
        text-align: center;
        justify-content: center;
    }
    .question,.svg4{
        width: 300px;
        margin: auto;
    }
      
        .page4-title{
        margin-top: 20vh;
    }
        .page5-texts{
        padding: 4%;
    }
    .page5-img > img{
        width:20%;
        margin-left: 40vw;
        margin-bottom: 0;
    }
                .page5-img{
    background-position: center 53vh;
    background-size: 17%;    
    }
}

@media only screen and (max-width:849px) and (min-width:760px){
    .downarrow{
        height: 25vh;
    }
            .page5-img > img{
        width:12%;
        margin-left: 44vw;
        margin-bottom: 0;
    }
}

@media only screen and (max-width:999px) and (min-width:850px){
    .downarrow{
        height: 17vh;
        width: 15vw;
    }
        .page5-img > img{
        width:12%;
        margin-left: 44vw;
        margin-bottom: 0;
    }
}


@media only screen and (max-width:1280px) and (min-width:950px) 
{
                    .page5-img{
    background-position: center 55vh;
    background-size: 10%;    
    }
}

@media only screen and (max-width: 599px) and (min-width: 451px)  {
    svg{
        display: none;
    }
   .downarrow{
        height: 20vh;
        object-fit: contain;
    }
    h1{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.2rem;
    }
    .imgl,.imgr,.imgtl{
        display: none;
    }
      .page1-title{
        margin-top: 39vh;
    }
    .page1-texts{
        padding: 5%;
    }
    .downarrow{
        width:35vw;
        height: 19vh;
    }
    .page2-texts{
        padding: 5%;
    }
    .page2-caption{
        font-size: 1rem;
    }
    .page3-title{
        margin-top: 15vh;
    }
    .page3{
        background: none;
    }
    .page3-texts{
       width: auto;
        text-align: center;
        padding: 5%;
    }
     .page3-para,.page3-title{
        margin-left: 0;
    }
    .page3-para{
    font-size: 1.2rem !important;
    }
        .page3-title{
        font-size: 2.2rem !important;
    }
    .page4ellipse{
        position: relative;
        margin:auto;
        height: 60vh;
        width: 90vw;
        z-index: -1;
        display: grid;
        grid-template-rows: 300px 400px;
        text-align: center;
        justify-content: center;
    }
   .question,.svg4{
        margin: auto;
        width: 200px;
   }
            .page4-title{
        margin-top: 23vh;
    }
        .page5-texts{
        padding: 4%;
    }
    .page5-img > img{
        width:20%;
        margin-left: 40vw;
        margin-bottom: 0;
    }
                    .page5-img{
    background-position: center 55vh;
    background-size: 25%;    
    }

}

@media only screen and (max-width:360px) {
    .cover > img{
                width: 50vw;
    }
    h1{
        font-size: 1.5rem;
    }
    p{
        font-size: 0.9rem;
    }
    svg{
        display: none;
    }
    .imgr,.imgl,.imgtl{
        display: none !important;
    }
    .page1-title{
        margin-top: 60%;
    }
    .page1-texts{
        padding: 2%;
    }
    .page2-caption{
        font-size: 0.6rem;
    }
     .page2-texts{
        padding:5%;
    }
    .page3{
        background: none;
    }
      .page3-texts{
       width: auto;
        text-align: center;
        padding: 2%;
    }
      .page3-para,.page3-title{
        margin-left: 0;
    }
      .page3-para{
    font-size: 0.9rem !important;
    }
        .page3-title{
        font-size: 1.5rem !important;
    }
    .page4ellipse{
        position: relative;
        margin:auto;
        height: 60vh;
        width: 90vw;
        z-index: -1;
        display: grid;
        grid-template-rows: 300px 400px;
        text-align: center;
        justify-content: center;
    }
   .question,.svg4{
        width: 200px;
   }
   .question{
    margin-top: 50px;
   } .page5-img{
    background-position: center 55vh;
    background-size: 35%;    
    }
    .page5-img > img{
        width: 10%;
        top: 62vh;
        left: -3vw;
    }
}

@media only screen and (max-height:450px)
{
    .page2-texts,.page3-texts{
        overflow: scroll !important;
    }
}

@media (max-width: 900px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
    .imgl,.imgr,.imgtl{
        display: none !important;
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 220px;
        right: -100%;
        top: 0;
        background-color: #4129F4;
        z-index: 100;
        transition: all 0.4s ease;
        overflow: scroll !important;
    }

    nav.active .menu{
        right: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo-toggle .siderbarClose{
        font-size: 24px;
        cursor: pointer;
    }
    .nav-links i{
        display: none;
    }
    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }
    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}
    
